body{
    font-size: 1.2em;
}
table{
    border: 2px solid #aaaaaa;
    height: 175px;
    width: 25%;
}
tr{
    height: 1fr;
}
#check{
    text-align: right;
}
#enter{
    text-align: right;
    padding-right: 15px;
}
.espaco{
    padding-left: 15px;
}